.detail{
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .detail-content{
        width: 350px;
        display: flex;
        padding: 20px;
        gap: 20px;

        .detail-icon__container{
            
            width: 73px;
            height: 73px;
            min-width: 73px;
            max-width: 73px;
            background: color(light-gray);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;

            .detail-icon{
                color: color(light);
                font-size: 40px;   

            }
        }

        .detail-text{
            font-family: "Cormorant Infant", serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 10px;
            h2{
                font-family: "Cormorant Infant", serif;
                font-weight: 900;
                font-size: 30px;
            }
                
        }
    }
}